<div class="grid grid-cols-2 gap-8">
  <form class="flex flex-col gap-4" [formGroup]="agregarDetalleVentaForm" (ngSubmit)="agregarDetalleVenta()" *ngIf="esAdministrador">
    <h1>Agregar Detalle Venta</h1>
    <mat-form-field>
      <mat-label>Producto</mat-label>
      <mat-select formControlName="producto">
        @for (producto of productos; track producto) {
          <mat-option [value]="producto.numeroProducto">{{producto.descripcion}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cantidad</mat-label>
      <input matInput type="number" min="0" formControlName="cantidad"/>
    </mat-form-field>
    <button mat-button color="primary">Agregar</button>
  </form>
  <div class="flex flex-col gap-4">
    <form class="flex flex-col gap-4" [formGroup]="ventaForm" (ngSubmit)="crearVenta()" *ngIf="esAdministrador">
      <mat-form-field>
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="cliente">
          @for (cliente of clientes; track cliente) {
            <mat-option [value]="cliente.numeroCliente">{{cliente.nombre}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button mat-button color="primary">Crear Venta</button>
    </form >
    <table class="w-full">
      <thead>
        <tr>
          <th>Numero Venta</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="text-center">
        @for (venta of ventas; track venta) {
          <tr>
            <td>{{venta.numeroVenta}}</td>
            <td>{{venta.total}}</td>
            <td>
              <button mat-button color="warn" (click)="eliminarVenta(venta)" [disabled]="!esAdministrador">Eliminar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
