<nav class="flex bg-gray-200 items-center p-4 justify-between">
  <div class="flex items-center gap-10">
    <a routerLink="/" routerLinkActive="active" class="text-2xl">Llave Dorada</a>
    <a routerLink="/usuarios" routerLinkActive="active" class="text-2xl">Usuarios</a>
    <a routerLink="/clientes" routerLinkActive="active" class="text-2xl">Clientes</a>
    <a routerLink="/reportes" routerLinkActive="active" class="text-2xl">Reportes</a>
  </div>
  <div class="flex items-center">
    <mat-form-field>
      <mat-label>Tipo usuario</mat-label>
      <mat-select>
        @for (usuario of usuarios; track usuario) {
          <mat-option [value]="usuario">{{usuario.nombre}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</nav>

<main class="p-4">
  <router-outlet />
</main>
