<nav class="flex bg-gray-200 items-center bg-azul text-gris justify-between">
  <div class="flex items-center gap-10">
    <a routerLink="/" routerLinkActive="active" class="w-48"><img src="../assets/images/Llave Dorada.png"></a>
    <a routerLink="/usuarios" routerLinkActive="active" class="text-2xl">Usuarios</a>
    <a routerLink="/clientes" routerLinkActive="active" class="text-2xl">Clientes</a>
    <a routerLink="/productos" routerLinkActive="active" class="text-2xl">Productos</a>
    <a routerLink="/ventas" routerLinkActive="active" class="text-2xl">Ventas</a>
    <a routerLink="/reportes" routerLinkActive="active" class="text-2xl">Reportes</a>
  </div>
  <div class="flex items-center">
    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <mat-select (valueChange)="changeUsuario($event)">
        @for (usuario of usuarios; track usuario) {
          <mat-option [value]="usuario">{{usuario.nombre}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</nav>

<main class="p-4">
  <router-outlet />
</main>
