<div class="grid grid-cols-3 gap-8">
  <app-cliente-form [cliente]="selectedCliente" *ngIf="esAdmininistrador" />
  <div class="col-span-2">
    <h1>Lista de clientes</h1>
    <table class="w-full text-lg">
      <thead>
        <tr>
          <th>No. Cliente </th>
          <th>Nombre </th>
          <th>Apellido Paterno </th>
          <th>Tipo Cliente</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="text-center">
        @for (cliente  of clientes; track cliente) {
          <tr>
            <td>{{cliente.numeroCliente}}</td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellidoPaterno}}</td>
            <td>{{cliente.tipoCliente.descripcion}}</td>
            <td><button mat-button color="warn" class="border border-red-500" (click)="eliminar(cliente)" [disabled]="!esAdmininistrador">Eliminar</button>
              <button mat-button color="accent" class="border border-red-500" (click)="editar(cliente)" [disabled]="!esAdmininistrador">Actualizar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
