<div class="grid grid-cols-3">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Categorias</mat-label>
      <mat-select formControlName="categoria">
        @for (categoria of categorias; track categoria) {
          <mat-option [value]="categoria.numeroCategoria">{{categoria.descripcion}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
  <table class="col-span-2 w-full">
    <thead>
    <tr>
      <th>Fecha</th>
      <th>Cliente</th>
      <th>Producto</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
      @for (venta of ventas; track venta) {
        <tr>
          <td>{{ venta.fechaVenta }}</td>
          <td>{{ venta.cliente.nombre }}</td>
          <td>
            @for (detalle of venta.detalleVentas; track detalle) {
              <span>{{ detalle.producto.descripcion }}</span>
            }
          </td>
          <td>{{ venta.total | currency }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
