<div class="flex flex-col w-full gap-10">
  <div>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Numero Venta</mat-label>
        <mat-select formControlName="numeroVenta">
              @for (venta of ventas; track venta) {
                  <mat-option [value]="venta.numeroVenta">{{venta.numeroVenta}}</mat-option>
              }
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <table>
    <thead>
      <tr>
        <th>Productos</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      @for (detalle of detalles; track detalle) {
        <tr>
          <td>{{detalle.producto}}</td>
          <td>{{detalle.cantidad}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
