<div class="grid grid-cols-2 gap-8">
  <app-usuarios-from [usuario]="selectedUsuario" *ngIf="esAdministrador" />
  <div>
    <ul>
      @for (usuario of usuarios; track usuario) {
        <li class="flex gap-4 items-center p-2">
          <span class="w-1/4">{{ usuario.numeroUsuario }} - {{ usuario.nombre }}</span>
          <span class="w-1/4">{{ usuario.apellidoPaterno }}</span>
          <button mat-stroked-button class="border border-red-500" (click)="eliminar(usuario)" [disabled]="!esAdministrador">Eliminar</button>
          <button mat-stroked-button class="border border-red-500" (click)="editar(usuario)" [disabled]="!esAdministrador">Actualizar</button>
        </li>
        <mat-divider />
      }
    </ul>
  </div>
</div>
