<div class="grid grid-cols-2 gap-8">
  <app-usuarios-from [usuario]="selectedUsuario" />
  <div>
    <ul>
      @for (usuarios of usuarios; track usuarios) {
        <li class="flex gap-4 items-center p-2">
          <span>{{ usuarios.numeroUsuario }} - {{ usuarios.nombre }}</span>
          <button mat-stroked-button class="border border-red-500" (click)="eliminar(usuarios)">Eliminar</button>
          <button mat-stroked-button class="border border-red-500" (click)="editar(usuarios)">Actualizar</button>
        </li>
        <mat-divider />
      }
    </ul>
  </div>
</div>
