<div class="flex flex-col w-full gap-10">
    <div>
      <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Numero cliente</mat-label>
          <mat-select formControlName="numeroCliente">
                @for (cliente of clientes; track cliente) {
                    <mat-option [value]="cliente.numeroCliente">{{cliente.numeroCliente}}</mat-option>
                }
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div class="w-full gap-4">
      <div class="w-full">
        <table class="w-full table-auto">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido Paterno</th>
              <th>Apellido Materno</th>
              <th>Fecha de venta</th>
              <th>Productos</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let venta of ventas">
              <td>{{ venta.cliente.nombre }}</td>
              <td>{{ venta.cliente.apellidoPaterno }}</td>
              <td>{{ venta.cliente.apellidoMaterno }}</td>
              <td>{{ venta.fechaVenta | date }}</td>
              <td>
                <ul>
                  @for (detalle of venta.detalleVentas; track detalle) {
                    <li>
                      <span>{{ detalle.producto.descripcion }}</span>
                    </li >
                  }
                </ul>
              </td>
              <td>{{ venta.total | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
